In [10]:
# Write a Pandas program to split the following dataframe by school code and get mean, min, and max value of age for each school.

import pandas as pd

student_data = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])
sd=student_data[["school_code","age"]].groupby("school_code").mean().age.reset_index()
sd=sd.rename(columns={"age":"avg age"})
sd1=student_data[["school_code","age"]].groupby("school_code").min().age.reset_index()
sd1=sd1.rename(columns={"age":"min age"})
sd2=student_data[["school_code","age"]].groupby("school_code").max().age.reset_index()
sd2=sd2.rename(columns={"age":"max age"})
print(sd)
print(sd1)
print(sd2)

  school_code  avg age
0        s001     12.5
1        s002     13.0
2        s003     13.0
3        s004     12.0
  school_code  min age
0        s001       12
1        s002       12
2        s003       13
3        s004       12
  school_code  max age
0        s001       13
1        s002       14
2        s003       13
3        s004       12
   school_code class            name date_Of_Birth   age  height  weight  \
S1        s001     V  Alberto Franco     15/05/2002   12     173      35
S2        s002     V    Gino Mcneill     17/05/2002   12     192      32
S3        s003    VI     Ryan Parkes     16/02/1999   13     186      33
S4        s001    VI    Eesha Hinton     25/09/1998   13     167      30
S5        s002     V    Gino Mcneill     11/05/2002   14     151      31
S6        s004    VI    David Parkes     15/09/1997   12     159      32

    address
S1  street1
S2  street2
S3  street3
S4  street1
S5  street2
S6  street4