In [1]:
# Create a dataframe of ten rows, four columns with random values. 
# Convert some values to nan values. Write a Pandas program which will highlight the nan values.

import pandas as pd
import random
import numpy as np
import openpyxl


db=pd.DataFrame({random.randint(0,100):[random.randint(0,101) for _ in range (10)],
                 random.randint(0,100):[random.randint(0,101) for _ in range (10)],
                 random.randint(0,100):[random.randint(0,101) for _ in range (10)],
                 random.randint(0,100):[random.randint(0,101) for _ in range (10)],
                 })
l=random.randint(5,15)
for x in range(l):
    a=random.randint(1,9)
    b=random.randint(0,3)
    db.iloc[a,b]=np.nan
print(db)

     40    62  74    20
0  48.0  83.0  65  76.0
1  79.0  98.0  61   0.0
2  45.0  41.0  81  30.0
3  34.0  67.0  32   NaN
4   NaN  12.0  69  72.0
5  33.0  82.0   1   NaN
6   NaN  44.0  98  76.0
7  10.0  30.0  44  46.0
8   NaN   NaN  77  85.0
9  46.0   NaN   5  16.0

In [2]:
def highlight(db):
    if np.isnan(db):
        return 'background-color: yellow'
db1=db.style.applymap(highlight)
db1