In [14]:
# Write a Pandas program to display the dataframe in Heatmap style.

import pandas as pd
import random
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns



db=pd.DataFrame({"col1":[random.randint(0,11) for _ in range (10)],
                 "col2":[random.randint(0,11) for _ in range (10)],
                 "col3":[random.randint(0,11) for _ in range (10)],
                 "col4":[random.randint(0,11) for _ in range (10)],
                 })
# l=random.randint(5,15)
# for x in range(l):
#     a=random.randint(1,9)
#     b=random.randint(0,3)
#     db.iloc[a,b]=np.nan
print(db)

   col1  col2  col3  col4
0    11     9     6     9
1     6    10    10     1
2     9    11     4     0
3     1     2    10     4
4    10     2     9    11
5     0     2     7     3
6     8    10     0     4
7     5     8    11     4
8     2     5     6     5
9     7     5     9    10

In [15]:
# dare all'utente la possibilit√† di scegliere quale colonna evidenziare

x=input("digita nomi colonne ")
l=x.split()
def func(s):
    if s.name in l:
        return ["background-color:red" for _ in s]
    

db=db.style.apply(func)
db